@import "main.css";
.avia-pic{
    border-radius: 70%;
display: inline;

}
.about-txt{
    direction: rtl;
    display: inline-block;
    width: 38%;
    right: 0;
    float: right;
    z-index: 1;
    position: absolute;
}
.txt-span{
    text-shadow: -2px 1px 1px #999;
    display: inline-block;
    text-align: center;
}