.facebook-logo{
    border-radius: 20%;
    height: 100%;
    float: right;


}
.facebook-div{
    height: 13%;
    z-index: 10;
    left: -340px;
    position: fixed;
    top: 60%;
    transition: ease-in 1s 1s;
    border-color:#3b5998 ;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    background: #3b5998;
    overflow: visible;
}
.fb-page{
    top: -400%;
}
.facebook-div:hover{
    left: 0;
    transition: ease-in-out 0.5s 0.5s;


}
