/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2018, 16:16:02
    Author     : Eyal Raz
*/
@import "navbar.css";
@import 'iframe.css';
@import "suscribe.css";
@import "facebook.css";
@import "bottom-div.css";
@import "main-top.css";

:root{
    --nav-width:25%;
    --color1:white;
    --color2:black;
    --color3:gray;
}

*{
    font-family: tahoma;
    box-sizing: border-box;


}
:focus {
    outline-color:var(--color3) ;
    border-width: 2px;
    border-color: var(--color3);
    box-shadow: 0 0 10px var(--color3);
}
::selection{
    background-color: #a9a0eb;
}




body{

    background-color: var(--color1) ;
    font-size: 18pt;



}


article{
    display: grid;
    z-index: 3;
    grid-template-areas:
            "1"
            "2"

;
}


.fixed-img{
    height: 15%;
    position: fixed;
    display: block;
    bottom: 5%;
}
#navigate_img{
    right: 5%;
}
#call_img{
    left: 5%;
}

@media screen and (min-width: 480px)  {
    .fixed-img{
        display: none;
    }
}



.main-article{
    overflow-x: hidden;
}


.main-section{
    position: relative;
    display:grid;
    height: 100%;
    width: 100%;
    grid-gap: 0;
    grid-template-areas:
            "header header header header header"
            "top top top top top"
            "frame frame frame frame frame"
            "footer footer footer footer footer"
            "bottom bottom bottom bottom bottom "

;
    grid-template-rows: auto auto auto auto;

}


