
div.show{
    height: 100px;
}


.product-properties{
    transition: all 0.4s ease-in;
  margin: 5px;
}

input[type="radio"]{/* Hide the browser's default checkbox */

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
input:checked + label{
    background-color: rgba(95, 98, 98, 0.36);

    border:  black 5px double;

}
label.chooseable-label{
    border: var(--color3) 5px double;
    color: black;
    display: inline-block;
    background-color: var(--color1);
    min-width: 34px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    user-select: none;
    cursor: pointer;
    padding: 0 4px;

}
input[name=color] + label{
    background-color: transparent;
    size:   10px 10px;
    height: 34px;
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-radius: 25%;
    top: 0;

}
input[name=color]:checked + label{
    background-color: inherit;
    border-width: 5px;
    border-style: solid;
    color: var(--color1);
}

input[name=color]:checked + label::after{
    color: var(--color1);
}
input[name=color] + label::after{
    content: 'V';
    font-family: cursive;
    color: transparent;
    background-color: transparent;
}

#green + label{
    border-color: green;
}
#green:checked + label{
    background-color: green;
}

#red + label{
    border-color: red;
}
#red:checked + label{
    background-color: red;
}
#purple + label{
    border-color: purple;
}
#purple:checked + label{
    background-color: purple;
}
#yellow + label{
    border-color: yellow;
}
#yellow:checked + label{
    background-color: yellow;
}
#blue + label{
    border-color: blue;
}
#blue:checked + label{
    background-color: blue;
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    width: 110px;
    font-size: 18pt;

}
input[type=submit]:hover {
    background:gray;

}
hr{
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 14px;
}
select{
    height: 30px;
    width: 40px;
    font-size: 12pt;
}
input:focus + label{
    box-shadow: 0 0px 23px grey;
}