@import "product-form.css";
@import "main.css";

#frame_content{
    position: relative;
    width: 100%;
    display: grid;


    grid-template-areas:
"top1 top1 top2"
    "center1 center2 center3"
    "center1 bottom2 bottom2"

;
}


#product-name{
    grid-area: top1;
}

/* this is from the example i downloaded from internet (eyal)

 */
body {
    font-family: Helvetica Neue, Arial, sans;
    margin-top: 2em;
    background: #FAFAFA;
}

.wrapper {
    margin: 0 auto;
    width: 860px;
    z-index: 1;
}

.drift-demo-trigger {
    height: 400px;
    float: left;
    left: 10%;
    position: absolute;
}

.detail {

    width: 65%;

    float: left;
    height: 500px;
    right: 0;
    position: absolute;

}
.product-details{
    direction: rtl;
    display: inline-block;
    position: absolute;
    padding: 0 2%;
    right: 0;
}

.gal-pic{
    width: 100%;
    filter: grayscale(100%);
}
.chosen-pic{
    filter: none;
    transition: linear 0.4s;
}
.gallery{
    width: 74px;
    margin: 0;

    position: relative;
    display: inline-block;
}
h1 {
    color: #013C4A;
    margin-top: 1em;
    margin-bottom: 1em;

}

p {
    max-width: 32em;
    margin-bottom: 1em;
    color: #23637f;
    line-height: 1.6em;
}

p:last-of-type {
    margin-bottom: 2em;
}

a {
    color: #00C0FA;
}

.ix-link {
    display: block;
    margin-bottom: 3em;
}

@media (max-width: 900px) {
    .wrapper {
        text-align: center;
        width: auto;
    }

    .detail,
    .drift-demo-trigger {
        float: none;
    }

    .drift-demo-trigger {
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }

    .detail {
        margin: 0;
        width: 400px;
        height: 400px;

    }

    p {
        margin: 0 auto 1em;
    }

    .responsive-hint {
        display: none;
    }

    .drift-bounding-box {
        display: none;
    }
}

