@import "main.css";

.sapak-pic{

    height: inherit;

    position: relative;

}
.seller{
  height: 200px;
    display: grid;
    grid-template-areas:
      "img1 txt1 txt1 txt1"
      "img2 txt2 txt2 txt2"
      "img3 txt3 txt3 txt3"
      "img4 txt4 txt4 txt4"
    ;
    grid-row-gap: 10px;
background-color: black;



    padding: 0 0 3% 0;

}
.sapak-txt{

    padding: 0 6%;
   /*gradient:gray to white*/
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=1 );
}
.txt1{
    grid-area: txt1;
}
.txt2{
    grid-area: txt2;
}
.pic1{
    grid-area: img1;
}
.pic2{
    grid-area: img2;
}